a{
  color:#b2001a;
}
ul.lineal{
  margin:0;
}
ul.lineal li{
  display:inline-block;
  margin:0 5px;
  padding:0;
}
.wrapper{
    width:980px;
    margin:0 auto;
}
.header{
  width:100%;
  background-color:#751020;
  background-image: linear-gradient(bottom, #751020 20%,  #8f1327 80%);
  background-image: -o-linear-gradient(bottom, #751020 20%,  #8f1327 80%);
  background-image: -moz-linear-gradient(bottom, #751020 20%,  #8f1327 80%);
  background-image: -webkit-linear-gradient(bottom, #751020 20%,  #8f1327 80%);
  background-image: -ms-linear-gradient(bottom, #751020 20%,  #8f1327 80%);
  padding:4px 0;
}
  .header a{
    color:white;
  }
  .header h1, .header h2{
    color:white;
    font-family: 'Andada', sans-serif;
    margin:0;
    padding:0;
  }
  .header h2{
      font-size:1.2em;
  }
#menu{
  width:100%;
  background-color:#6b0e1d;
  color:white;
  font-size:1.2em;
  padding:6px 0;
  padding-bottom:10px;
}
  #menu a{
      color:white;
  }
#body{
  margin-top:15px;
  padding:0 5px;
}
  #body h1{
    font-family: 'Adamina', sans-serif;
  }
.extra{
  float:right;
}
  .extra h3{
    font-family:'Adamina', sans-serif;
    background:#6b0e1d;
    padding:0 6px;
    color:white;
    border-radius:5px;
  }