<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Ruby Documentation Project</title>
<meta name="keywords" content="ruby, documentation, MRI, rdoc, mendicant university, documentation patch" />
<meta name="description" content="Information site for creating documentation patches for Ruby" />
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css" />
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Andada|Adamina' rel='stylesheet' type='text/css' />
<link href="/assets/default.css" rel="stylesheet" type="text/css" />
<link href="/assets/syntax.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="header">
    <div class="wrapper">
      <a href="/">
        <img src="/assets/doc-ruby-light.png" alt="Ruby Documentation Project" />
      </a>
      <h1><a href="/">Ruby Documentation Project</a></h1>
      <h2>A concerted effort to augment and enhance Ruby MRI documentation</h2>
    </div>
  </div>
  <div id="body" class="row">
    <div class="wrapper">
      <div class="span4 extra">
        <h3 class="first">Contribute</h3>
        <ul>
          <li><a href="index.html">Project Overview</a></li>
          <li><a href="support.html">Community Resources</a></li>
          <li><a href="undocumented-areas.html">List of Undocumented Areas</a></li>
          <li><a href="step-by-step-guide.html">How to Document Ruby</a>
            <ul>
              <li><a href="step-by-step-guide.html#SetUp">Getting Set Up</a></li>
              <li><a href="step-by-step-guide.html#Documenting">Documenting</a></li>
              <li><a href="step-by-step-guide.html#CreatePatch">Creating Your Own Patch</a></li>
            </ul>
          </li>
        </ul>
        <h3>Other Useful Resources</h3>
        <ul>
          <li>
            <a href="http://bugs.ruby-lang.org/projects/ruby/wiki/DocumenterHowTo">Style Guide</a>
          </li>
          <li>
            <a href="http://www.youtube.com/watch?v=4oBl1PmO4K0">Presentation</a> with <a href="https://speakerdeck.com/zzak/contributing-to-ruby">slides</a> on Contributing to Ruby</a>
          </li>
          <li><a href="http://blog.steveklabnik.com/2011/05/10/contributing-to-ruby-s-documentation.html">Article &amp; screencast on the documentation process</a></li>
        </ul>
      </div>
      <div class="span10">
        {{ content }}
      </div>
    </div>
  </div>
  <div class="row" id="footer">
    <div class="wrapper">
        <p>Copyright &copy; 2013 Ruby Documentation Project.</p>
        <p><a href="about.html">How This Project Came Into Being</a></p>
    </div>
  </div>
</body>
</html>
